language: ruby
rvm:
  - "2.0.0-p648"
  - "2.1.10"
  - "2.2.5"
  - "2.3.1"
before_script:
 - "bundle exec rackup -p8010 example/config.ru &"
 - "sleep 3"
script:
 - "bundle exec rake test"
 - "example/test.sh"
